<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/employee-signup.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <script src="../javascript/employee-signup.js"></script>
        <title>Formulario - Sign Up</title>
    </head>
    <body>
        <header>
            <h1>
                Formulario
            </h1>
        </header>
        <div class="signup-container">
            <h2>Sign Up</h2>
            <form>
                <div class="columns">
                    <div class="column1">
                        <div class="label-input">
                            <label>Name</label>
                            <input id="name" type="text" class="inputs" placeholder="Harry">
                        </div>
                        <div class="label-input">
                            <label>Surname</label>
                            <input id="surname" type="text" class="inputs" placeholder="Potter">
                        </div>
                        <div class="label-input">
                            <label>DNI</label>
                            <input id="dni" type="text" class="inputs" placeholder="12345678">
                        </div>
                        <div class="label-input">
                            <label for="birth-date">Date of birth</label>
                            <input id="dob" type="text" class="inputs" placeholder="mm/dd/yyyy">
                        </div>
                        <div class="label-input">
                            <label>Phone number</label>
                            <input id="phone-number" type="text" class="inputs" placeholder="3415055639">
                        </div>
                        <div class="label-input">
                            <label>Address</label>
                            <input id="address" type="text" class="inputs" placeholder="Italy 123">
                        </div>
                    </div>
                    <div class="column2">
                        <div class="label-input">
                            <label>City</label>
                            <input id="city" type="text" class="inputs" placeholder="Roma">
                        </div>
                        <div class="label-input">
                            <label>ZIP code</label>
                            <input id="zip" type="text" class="inputs" placeholder="0123">
                        </div>
                        <div id="email-password">
                            <div class="label-input">
                                <label>Email</label>
                                <input id="email" type="text" class="inputs" placeholder="example@gmail.com">
                            </div>
                            <div class="label-input">
                                <label>Password</label>
                                <input id="password" type="password" class="inputs" placeholder="********">
                            </div>
                            <div class="label-input">
                                <label>Repeat password</label>
                                <input id="rep-password" type="password" class="inputs" placeholder="********">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-btn">
                    <input type="button" id="continue-btn" value="Create">
                </div>
                <div class="login-btn">
                    <button id="submit" type="submit">
                        <a href=login.html>
                            Login
                        </a>
                    </button>
                </div>
                <div class="go-back-btn">
                    <button id="submit" type="submit">                        <a href=index.html>
                            Go back
                        </a>
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>