main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

main h3 {
    margin: 0 16%;
    border-bottom: 3.7px solid #373867;
    color: #373867;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
}

main img {
    min-width: 20%;
}

.sign-up a:visited {
    color: rgb(253, 253, 253);
    background-color: transparent;
    text-decoration: none;
  }

.what-is-trackgenix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.what-is-trackgenix h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #49A37B;
}

.what-is-trackgenix div {
    width: 45%;
    min-width: 315px;
    height: auto;
}

.what-is-trackgenix img {
    width: 45%;
    min-width: 250px;
    height: auto;
}

.our-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our-history h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #49A37B;
}

.our-history div {
    width: 45%;
    min-width: 315px;
    height: auto;
}

.our-history img {
    width: 45%;
    min-width: 250px;
    height: auto;
}

.our-history span {
    display: block;
    padding: 7px 0px;
    margin: 13px auto;
    width: 80px;
    background: #AACE9B;
    border-radius: 5px;
    font-weight: 500;
    font-size: 9px;
    text-decoration: none;
    text-align: center;
    color: #373867;
}

.features p {
    margin: 3% 8%;
    text-align: justify;
}

.features ul {
    margin: 3% 9%;    
    font-size: 14px;
    line-height: 20px;
    list-style: disc;
}

.container, .container2{
    display: flex;
    flex-wrap: wrap;
    margin: 23px 60px;
    justify-content: space-around;
    text-align: center;
}

.container2 {
    padding: 23px 0px;
    border-bottom: 0.7px solid #373867;
    border-top: 0.7px solid #373867;
}

.why-trackgenix .txt {    
    font-size: 14px;
    align-self:center;
}

.why-trackgenix h4 {
    font-weight: 700;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 18px;
}


.why-trackgenix img { 
    border-radius: 10px;    
}

.button {
    padding: 7px 0px;
    display: block;
    margin: 13px auto;
    width: 80px;
    background: #AACE9B;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 9px;
    color: #373867;
}

.contact label {
    display: block;
    padding-bottom: 3px;
    font-weight: 500;
    font-size: 14px;
}

.contact span {
    display: flex;
    margin: 0 5%;
    border-bottom: 3.7px solid #373867;
    color: #373867;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
}

.contact form {
    margin: 10px 37px 30px 30px;
}

.login-form a, .login-form p {
    opacity: 0.9;
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
}

.login-form p {
    color: red;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 10px;
}

.verification p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: 500;
    font-size: 12px;
    color: #F33413;
    visibility: hidden;
}

.contact .verification.done input, .contact .verification.done textarea {
    border: solid 1px #F33413;
}

.verification.done p {
    visibility: visible;
}

.verification.done input {
    color: #F33413;
}

#name {
    margin-bottom: 5px;
}

#email {
    margin-bottom: 5px;
}

#category {
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    padding: 10px 36px;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    line-height: 14px;
    color: #373867;
}

#send-message {
    background: #AACE9B;
}

.reset {
    background: #ccc3c3;
}

.get-in-touch {
    margin-top: 340px;
    background-color: #373867;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}

.header span {
    display: none;
    top: 20px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.get-in-touch div {
    margin: 10px;
}

.subtitle h5 {
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
}

.get-in-touch div ol {
    list-style: decimal ;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
}